{% extends "layout.html" %}
{% block header %}Your Lists{% endblock %}
{% block content %}
	<div ng-controller="listController">
		<div id="list-container" >
			<ul class="lists">
				<li ng-repeat="list in shoppingList">
					<button class="btn btn-danger glyphicon glyphicon-trash" type="button" class="delete-btn" ng-click="delete_list(list.id)"></button>
					&nbsp;
					<a ng-click="getList(list.id)"><h3 style="display: initial">{[list.name]}</h3></a>
				</li>
			</ul>
			<button type="button" class="btn btn-default" ng-click="toggleForm()" ng-show="listForm == false">New List</button>
			<input class="form-control" ng-show="listForm == true" ng-model="listName" class="text">
			<button type="button" class="btn btn-default" ng-click="submitList()" ng-show="listForm == true">Submit</button>
		</div>
		<div ng-if="items != null" class="col-md-6" id="content">
			<input class="form-control" type='text' ng-model="itemName" name='name' placeholder='Item Name'>
			<input class="form-control" type='number' ng-model="itemPrice" name='price' placeholder='Price'>
			<input class="form-control" type='number' ng-model="itemQuantity" name='quantity' placeholder='Quantity'>
			<input type='hidden' id="listId" name="list_id" value="{[listId}">
			{[ itemName ]}
			<button class="btn btn-default" type="submit" ng-click="addItem()">Save</button>
			<div class="table-container">
				<table class="table table-responsive table-striped table-bordered">
					<thead>
						<th class="text-left">Name</th>
						<th class="text-center">Quantity</th>
						<th class="text-center">Price</th>
						<th class="text-right">Action</th>
					</thead>
					<tbody>
						<tr ng-repeat="item in items">
							<td align=left>{[item.name]}</td>
							<td>{[item.quantity]}</td>
							<td>{[item.price | currency :"$"]}</td>
							<td align="right"><button class="btn btn-danger glyphicon glyphicon-trash" type="button" ng-click="deleteItem(item.id)"></button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>	
	<script src="/static/JS/shopping_list.js"></script>
{% endblock %}