body {
	color: #000;
	margin: 0px;
}

.page {
	text-align: center;
}

ul {
	list-style-type: none;
}

h2 {
	color: #a9d145;
}

.header {
	text-align: center;
	background-color: #b7e4f6;
	font-weight: bold;
	box-shadow: 0px 3px 3px #809fac;
	margin-bottom: 20px;
	height: 35px;
	color: #936d88;
	font-size: 20px;
	line-height: 35px;
}

.delete-btn {
	background-color: crimson;
	color: white;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0px;
}

.table-container {
	margin-left: 20px;
	margin-right: 20px;
}


.form-control {
	width: 150px;
	display: initial;
}